@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;0,900;1,400;1,700&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    cursor: pointer;
    color: black;
}

a:hover {
    text-decoration: underline;
}

form {
    padding: 50px;
}

label {
    font-weight: 700;
    font-size: 16px;
    display: inline-block;
}

input {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    font-family: 'Poppins', sans-serif;
    display: block;
    border-radius: 5px;
    border: 1px solid gray
}

/* Login */
.loginBg {
    background-color: rgba(128, 128, 128, 0.23);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loginform {
    background: white;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 900px;
}

.button {
    padding: 10px 20px 10px;
    background-color: black;
    border: none;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
}

.button:hover {
    background-color: white;
    color: black;
    border: 1px solid black;
}

img {
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

h1 {
    text-align: center;
}

p {
    text-align: center;
    color: gray;
}

.forget {
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

#rememberme {
    display: inline;
    width: initial;

}

#remember {
    font-weight: normal;
}

.error {
    color: red;
    padding-top: 5px;
    font-weight: 500;
    text-align: left;
    display: block;
}

#profile_form {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;

}

.profileBg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    padding: 20px;
    height: 90vh;
}

.profileform {
    padding: 15px;
    width: 70%;
    background-color: white;
    border-radius: 15px;
}

.foods_container {
    background-color: white;
    padding: 40px;
    margin: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 30px;
}

.fooditem {
    text-align: center;
    padding: 5px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
}

.fooditem img {
    width: 95%;
    height: 400px;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
}


.order {
    width: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    margin-top: 40px;
    padding: 20px;


}

.orderh {

    display: flex;
    justify-content: center;
}


.orderc table {
    width: 50%;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    text-align: center;
    margin-top: 40px;
    padding: 20px;
}

.orderc2 {
    display: flex;
    justify-content: center;
}

th {
    padding-right: 15px;
    padding-left: 15px;
}


.adddel {
    margin-top: 10px;
    margin-bottom: 10px;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.upb {
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid gray;

}

.upb a {
    text-decoration: none;
}

.deb {
    padding: 10px;
    border: none;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid transparent;
    background: rgba(238, 187, 187, 0.406);
}

.deb a {
    color: red;
    text-decoration: none;
}

.searchd {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchi {
    width: 400px;
}